<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html>-->
<head>
  <meta charset="ISO-8859-1">
  <title>Billing Counter</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <a class="navbar-brand" href="#">Welcome to Our Department Store :</a>

  <!-- Toggler/collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item"></li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>
  <div class ="container">
    <div class = "row">
      <h1> Products we sell and their Unit Prices : </h1>
    </div>

  <ul>
    <li>Book - $12.49</li>
    <li>Music CD - $14.99</li>
    <li>Chocolate Bar - $0.85</li>
    <li>Medicines - $67.89</li>
    <li>Imported chocolate - $10.00</li>
    <li>Imported Perfume - $47.50</li>
  </ul>


    <div class = "row">
      <h1> Buy Products </h1>
    </div>



    <div class = "row">
      <div class = "col-lg-3">
        <a th:href = "@{/products/new}" class = "btn btn-primary btn-sm mb-3"> Add Product</a>
      </div>
    </div>

    <table class = "table table-striped table-bordered">
      <thead class = "table-dark">
      <tr>
        <th> Product Type </th>
        <th> Quantity </th>
        <th> Actions </th>
      </tr>
      </thead>

      <tbody>
      <tr th:each = "product: ${products}">
        <td th:text = "${product.productType}"></td>
        <td th:text = "${product.quantity}"></td>
<!--        <td th:text = "${product.unitPrice}"></td>-->

        <td>

<!--          <a th:href = "@{/products/new}" class = "btn btn-primary"> Add Product</a>-->

          <a th:href = "@{/products/{id}(id=${product.id})}"
             class = "btn btn-danger">Delete</a>

        </td>
      </tr>
      </tbody>

    </table>

    <form th:action="@{/TaxAndTotal}" th:object="${productList}" method="GET">
      <div class = "box-footer">

          <button type="submit" class = "btn btn-success">Calculate Total Tax and Total Price
          </button>
      </div>
    </form>


  </div>
</body>
</html>

